{% extends 'base.html' %}
{% block content %}
<style>
    *{
        color: white;
    }
    
    textarea{
        color: black;
        width: 100%;
    }
    
    .col-12{
        padding-top: 5.5em;
    }
</style>
<div class="row">
   <div class="col"></div> 
    <div class="col-12 col-xl-8 col-md-8">
        <form action="" method="post" enctype="multipart/form-data" style="color: black;">
            {% csrf_token %}
            
            {{form.as_p}}
            <input type="submit" value="Upload" class="btn btn-info">
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}